/*Coded by Jeremaquai*/
@media only screen and (max-width: 632px) {
    .jumbotron#large {
        display: none;
    }
    
}

@media only screen and (min-width: 632px) {
    .jumbotron#small {
        display: none;
    }
    
}

body {
    font-size: 16px;
}

#large h1, #large h2 {
    position: relative;
    top: 6rem;
}

.jumbotron#large {
    min-height: 400px;
    background-image: url(../images/allstate.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: contain;
    align-items: center;
    
}

.jumbotron#small {
    min-height: 150px;
    color: black;
    align-items: center;
}

.text-container {
    align-content: center;
}

